@model EmployeeManagement.Models.Domain.Department

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Department</h4>
<hr />
@{
    if (ViewBag.Message != null)
    {
        <div>
            @ViewBag.Message
        </div>
    }
}
<hr />


<div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="DEPARTMENT_NAME" class="control-label">Department Name</label>

                <input asp-for="DEPARTMENT_NAME" placeholder="Enter Name" class="form-control" />

                <span asp-validation-for="DEPARTMENT_NAME" class="text-danger"></span>
                <br />
            </div>
           

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
